* {
    box-sizing: border-box;
    z-index: 1;
}

html, body {
    // height: 100%;
  min-height: 100%;
    width:100%;
    // overflow: hidden;
    // overflow-y: scroll;
    background: none;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    // display: table; removed 3/6/17 for edge and ie11 compatibility
    padding-bottom: $footer-height !important;
    background-color:#f5f5f5;
    overflow:auto;
    position: relative;
    // overflow-x: hidden; // attempt hide for windows computers
}

button,a,input,select,option,textarea {
  outline: none;
}

hr {
    border:0;
    border-top:$border;
}

ul {
    padding-left: 0px;
}