$form-item-padding:8px 0;
$input-border: 1px solid #efefef;
$input-border: 1px solid #ebeef1;
// $input-background: #fefefe;
$input-background: #fefefe;
$input-background-hover: #fff;
$input-background-focus: #fff;
$input-border-radius: 5px;
$input-padding:12px 12px;
$input-height:50px;

input, textarea, select {
    padding: $input-padding;
    height: $input-height;
    background: $input-background;
    border: $input-border;
    border-radius: $input-border-radius;
    font-family: $font-family;
    font-size: 16px;
    width:100%;
    outline: none;
    -webkit-appearance: none;
    transition: all .2s;
    // pointer-events:none;
    // box-shadow: 0 1px 1px rgba(0,0,0,0.1),0 0 1px rgba(0,0,0,0.1);
    &:hover {
        background: $input-background-hover;
    }
    &:focus {
        background: $input-background-focus;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1),0 0 1px rgba(0,0,0,0.1);
        border-color:$input-background;
    }
}

.form-item.select {
    .icon-select-arrow {
        font-size: 1.5em;
        // right: 8px;
        // top: 9px;
        opacity: .5;
    }
}

textarea {
    height: $input-height + 20px;
}

input[type=checkbox] {
    display: none;
}

input[type=radio] {
    display: none;
}

.form-item label {

}

label {
    padding-bottom: 5px;
    padding-left: 0px;
    display: block;
    font-weight: bold;
}

.form-item {
    padding:$form-item-padding;
    label,.form-item-label, .form-item-sublabel {
      text-transform: uppercase;
        font-size: 11px;
        padding-bottom: 1px;
        padding-top: 0px;
        padding-left: 4px;
        color: rgba(0,0,0,.6);
        margin-bottom: 3px;
        line-height: 1.5;

    // font-size: 12px;
    // padding-bottom: 1px;
    // padding-top: 0;
    // padding-left: 4px;
    // color: rgba(0,0,0,.6);
    // margin-bottom: 1px;
    // line-height: 1.4;

    }
    // .form-item-label {
    //   margin-bottom:8px;
    // }
    .form-item-sublabel {
        color:$text-color-light;
        font-size: 9px;
        line-height: 2.2;
        margin-top: -6px;
        // @include breakpoint(sm) {
          // margin-top: 0px;
        // }
        display: block;
        line-height: 1.5;
        margin-bottom: 7px;

        // font-size: 9px;
        // line-height: 1;
        // margin-top: 2px;
        // margin-top: -7px;
        // display: block;
        // /* line-height: 1.5; */
        // margin-bottom: 10px;
    }
    .form-item-icon-draggable,.form-item-icon-editable {
      position: absolute;
      top:12px;right:5px;
      cursor:move;
      font-size: 10px;
      opacity:0.3;
      &:hover {
        opacity:1;
      }
    }
    .form-item-icon-editable {
      line-height: 1;
      right:22px;
      cursor: pointer;
    }
}

.form-item-icon {

}

.form-item.has-icon-left {

}

.form-item.has-icon-right {
    
}


.checkboxes > .checkboxes, .radios > .radios {
    background: $input-background;
    border: $input-border;
    border-radius: $input-border-radius;
    padding: $input-padding;
    // margin:$form-item-padding;
}

// Styling for icon radio select
.icon-radio-set {
    background: $input-background;
    border: $input-border;
    border-radius: $input-border-radius;
    padding: $input-padding;
    // margin:$form-item-padding;
}


// Set a smaller padding inside a radio or checkbox set between form items
.checkboxes > .checkboxes > .form-item, .radios > .radios > .form-item {
    padding: 5px 0;
}

.checkbox-label, .radio-label {
    padding-bottom:0;
    padding-left:0;
    font-weight: normal;
}

.uk-htmleditor-toolbar,.uk-htmleditor-navbar-nav {
  [class*='uk-icon-'],.uk-icon-expand {
    line-height: 40px;
  }
}
.form-item.html {
  z-index: 1000;
}

// Label where you radio select an icon rather than text
.icon-radio-set {
  padding:12px 5px;
  .form-item {
    display: inline-block;
    font-size: 30px;
    * {
        display: inline !important;
        border:0;
        line-height: 1;
    }
    .radio-label {    
        display: inline-block !important;
      .radio-text {
        font-size: 30px;
        display: inline-block !important;
        .icon {
          margin-right:5px;
        }
      }
    }
  }
}

.form-item.checkbox,.form-item.checkboxes {
    .checkbox-text {
        display: inline-block;
        cursor: pointer;
    }
    label:not('.form-item-label'):not('.form-item-sublabel') {
        padding-left:0px;
        text-transform: none;
        font-size: $font-size;
    }
}

.form-item.radio,.form-item.radios {
    .radio-text {
        display: inline-block;
    }
    label:not('.form-item-label'):not('.form-item-sublabel') {
        padding-left:0px;
        text-transform: none;
        font-size: $font-size;
    }
}


.form-item {
    position:relative;
    .form-item-icon-left {
        position: absolute;
        left:13px;
        line-height: $input-height;
    }
    .form-item-icon-right {
        position: absolute;
        right:13px;
        line-height: $input-height;
    }
}

.form-item.image {
  // remove image icon
  .icon-x {
    cursor:pointer;
    display: none; // hidden until clicked
  }
}

.form-item.has-icon-left input {
    padding-left: 35px;
}

.form-item.has-icon-right input {
    padding-right: 35px;
}

$upload-form-height:200px;
#upload_form {
  // background-image: url("../img/icons/icon-upload-cloud.svg");
  position: relative;
  background-color: #fff;
  background-position: center;
  background-position-y: 37%;
  background-repeat: no-repeat;
  border: 2px dashed #ddd;
  border-radius: 5px;
  transition: all 0.2s;
  text-align: center;
  pointer-events: none;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  // Upload icon
  .icon {
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    font-size: 40px;
    line-height: $upload-form-height;
  }
   &:before {
      content: "Choose or drop file";
      bottom: 30px;
      width: 100%;
      text-align: center;
      position: relative;
      display: block;
      top: 130px;
    }
  &:hover {
    border: 2px dashed #bdbdbd;
    color:$blue;
    // background-color:  #F7F7F7;
    @include transition();
  }
  #upload_input {
    pointer-events: all;
    height: $upload-form-height;
    background-color: transparent;
    opacity:0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  }
}
