// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.full { width: 100% }

// Alignment
.center { display: block; margin: auto }
.left { float: left }
.right { float: right }

// Text alignment
.text-center { text-align: center }
.text-left { text-align: left }
.text-right { text-align: left }

// Text colors
.text-white { color:#fff !important; }

// margin
.margin-remove { margin:0px !important }
.margin-left-remove { margin-left:0px !important }
.margin-right-remove { margin-left:0px !important }
.margin-10 { margin:10px }
.margin-15 { margin:15px }
.margin-20 { margin:20px }
.margin-25 { margin:25px }
.margin-30 { margin:30px }
.margin-35 { margin:35px }
.margin-40 { margin:40px }
.margin-left-10 { margin-left:10px }
.margin-left-15 { margin-left:15px }
.margin-left-20 { margin-left:20px }
.margin-left-25 { margin-left:25px }
.margin-left-30 { margin-left:30px }
.margin-left-35 { margin-left:35px }
.margin-left-40 { margin-left:40px }
.margin-right-10 { margin-right:10px }
.margin-right-15 { margin-right:15px }
.margin-right-20 { margin-right:20px }
.margin-right-25 { margin-right:25px }
.margin-right-30 { margin-right:30px }
.margin-right-35 { margin-right:35px }
.margin-right-40 { margin-right:40px }
.margin-bottom-10 { margin-bottom:10px }
.margin-bottom-15 { margin-bottom:15px }
.margin-bottom-20 { margin-bottom:20px }
.margin-bottom-25 { margin-bottom:25px }
.margin-bottom-30 { margin-bottom:30px }
.margin-bottom-35 { margin-bottom:35px }
.margin-bottom-40 { margin-left:40px }
.margin-top-10 { margin-top:10px }
.margin-top-15 { margin-top:15px }
.margin-top-20 { margin-top:20px }
.margin-top-25 { margin-top:25px }
.margin-top-30 { margin-top:30px }
.margin-top-35 { margin-top:35px }
.margin-top-40 { margin-top:40px }

// padding
.padding-remove { padding:0px !important }
.padding-left-remove { padding-left:0px !important }
.padding-right-remove { padding-left:0px !important }
.padding-10 { padding:10px }
.padding-15 { padding:15px }
.padding-20 { padding:20px }
.padding-25 { padding:25px }
.padding-30 { padding:30px }
.padding-35 { padding:35px }
.padding-40 { padding:40px }
.padding-left-10 { padding-left:10px }
.padding-left-15 { padding-left:15px }
.padding-left-20 { padding-left:20px }
.padding-left-25 { padding-left:25px }
.padding-left-30 { padding-left:30px }
.padding-left-35 { padding-left:35px }
.padding-left-40 { padding-left:40px }
.padding-right-10 { padding-right:10px }
.padding-right-15 { padding-right:15px }
.padding-right-20 { padding-right:20px }
.padding-right-25 { padding-right:25px }
.padding-right-30 { padding-right:30px }
.padding-right-35 { padding-right:35px }
.padding-right-40 { padding-right:40px }
.padding-bottom-10 { padding-bottom:10px }
.padding-bottom-15 { padding-bottom:15px }
.padding-bottom-20 { padding-bottom:20px }
.padding-bottom-25 { padding-bottom:25px }
.padding-bottom-30 { padding-bottom:30px }
.padding-bottom-35 { padding-bottom:35px }
.padding-bottom-40 { padding-left:40px }
.padding-top-10 { padding-top:10px }
.padding-top-15 { padding-top:15px }
.padding-top-20 { padding-top:20px }
.padding-top-25 { padding-top:25px }
.padding-top-30 { padding-top:30px }
.padding-top-35 { padding-top:35px }
.padding-top-40 { padding-top:40px }

.background-default { background-color: $background-color !important }
.background-red { background-color: $red !important }
.background-orange { background-color: $orange !important }
.background-green { background-color: $green !important }
.background-blue { background-color: $blue !important }
.background-purple { background-color: $purple !important }
.background-white { background-color: white !important }
.background-grey { background-color: $grey !important }

.cursor-pointer {
    cursor: pointer;
}

.visible {
  display: block !important;
}

.red { color: $red }
.orange { color: $orange }
.green { color: $green }
.blue { color: $blue }
.purple { color: $purple }
.white { color: #fff }
.grey { color: $grey }

.border-top-green {
  border-top: 2px solid $green !important;
}

.square { border-radius:0px !important }
.rounded { border-radius:100px !important }

.truncate { @include truncate_text }
.rotate { -webkit-animation: spin .8s infinite; }

// Animation duration modifiers
.02s { animation-duration: 0.2s }
.05s { animation-duration: 0.5s }
.075s { animation-duration: 0.75s }
.1s { animation-duration: 1s }
.2s { animation-duration: 2s }
.3s { animation-duration: 3s }
.4s { animation-duration: 4s }
.5s { animation-duration: 5s }
.6s { animation-duration: 6s }
.7s { animation-duration: 7s }
.8s { animation-duration: 8s }
.9s { animation-duration: 9s }
.10s { animation-duration: 10s }

.rotate {
  -moz-transition: transform 0.2s;
  -webkit-transition: transform 0.2s;
  transition: transform 0.2s;
  transform: rotate(-135deg) scale(1.05);
  -moz-transform: rotate(-135deg) scale(1.05);
  -webkit-transform: rotate(-135deg) scale(1.05);
}
.rotate-reset {
  -moz-transition: transform 0.2s;
  -webkit-transition: transform 0.2s;
  transition: transform 0.2s;
  transform: rotate(0deg) scale(1);
  -moz-transform: rotate(0deg) scale(1);
  -webkit-transform: rotate(0deg) scale(1);
}

.rotate {
  -moz-transition: transform 0.2s;
  -webkit-transition: transform 0.2s;
  transition: transform 0.2s;
  transform: rotate(-135deg) scale(1.05);
  -moz-transform: rotate(-135deg) scale(1.05);
  -webkit-transform: rotate(-135deg) scale(1.05);
}
.rotate-reset {
  -moz-transition: transform 0.2s;
  -webkit-transition: transform 0.2s;
  transition: transform 0.2s;
  transform: rotate(0deg) scale(1);
  -moz-transform: rotate(0deg) scale(1);
  -webkit-transform: rotate(0deg) scale(1);
}

.rotate.icon-circle-settings {
  margin-top:-2px;
  margin-right:0px;
  transform: rotate(-135deg)
}

.rotate-reset.icon-circle-settings {
  margin:0;
  transform: rotate(0deg);
}

.transition {
  transition: all .2s;
}

.rounded {
    border-radius:100px;
}

.focus-width {
  max-width: $focus-width;
  margin:auto;
}

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}