#toggle-menu-button {
    // background: red;
}

#main {
    display: block;
    position: relative;
    // height: 100%;
    z-index: -1;
    background: $background-color;
    min-height: 92vh;
    // background: $red;
    // min-height: 92vh;
    // overflow: scroll; Geoff don't forget this
    #dynamic_view, #details_view {
        background: $background-color;
        z-index: 1001;
        height: 100%;
        min-height: 100vh;
        max-width: 100%;
        width: 100vw;
        top:0px;
        bottom:0px;
        display: none;
        position: absolute;
        left: 0;
       // background: blue;
    }
    #details_view {
       z-index: 1002;
       min-height: 100%;
       // background: green;
       bottom:0px;left:0px;
       min-height: 100vh;
       -webkit-overflow-scrolling:touch;
        @include breakpoint('sm') {
            // height: 
        }
    }
    // @include breakpoint('sm') {
    //     z-index: 1
    // }
    height:100%;
}

.container {
    // width: $container-width;
    max-width:100%;
    padding:20px 20px 20px 20px;
    padding-bottom:40px;
    margin:auto;
    @include breakpoint('sm') {
        max-width: 100vw;
    }
}

.vertical-container {
    // padding: 15px;
    max-width: $focus-width;
    max-width: 100%;
    table-layout:fixed;
    width:100%;
    // padding: 15px;
    margin:auto;
    display: table;
    // @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    //     display: block;
    //     width:400px;
    //     table-layout:auto;
    //      background: green;
    //      height:400px;
    // }
    overflow-y: scroll;
    height: 65vh;
    height: 80vh;
    max-height: 615px;
    height:600px;
    // margin-top:-$header-height;
    @include breakpoint('sm') {
        height: 450px;
        #middle {
            // display: block;
        }
    }
}

#middle {
    vertical-align: middle;
    display: table-cell;
    // @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    //     width:400px;
    //     background: green;
    //     height:400px;
    // }
    // text-align: center;
}

.search-toggle {

}

.menu-toggle {
    display: none;
    background: #fbfbfb;
    margin: 0;
    border-radius: 0;
    width: 100%;
    text-align: left;
    padding: 10px 18px;
    line-height: 30px;
    height: 50px;
    text-transform: uppercase;
    letter-spacing: 1;
    width: 100vw;
    border:0;
    z-index: 2;
    box-shadow: $box-shadow;
    transition: all 0s;
    .icon {
        float: right;
        font-size: 1.3em;
    }
    @include breakpoint('sm') {
        display: block;
    }
}

// Styling for content loaded in the details view
.detail-view {
    padding-top:100px;
    text-align: center;
    .form-item {
        text-align: left;
    }
    .detail-view-menu {
        position: absolute;
        right: 20px;
        top:20px;
        left: 20px;
        text-align: right;

        button, a button {
            padding:0px;
            margin:0 0 0 5px;
            border-radius: 100px;
            display: inline;
            min-width: 0;
            height: 45px;
            width:45px;
            // line-height: 45px;
            line-height: 1;
            text-align: center;
            &:hover {
                font-weight: normal;
                color:$text-color;
            }
        }
        .icon-x {
            font-size: 25px;
            color: rgba(128, 128, 128, 0.54);
            left: 0px;
            position: absolute;
            top: 0px;
            cursor:pointer;
            transition: all .2s;
            &:hover {
                color: rgba(128, 128, 128, 0.8);
            }
        }
    }
    .detail-view-heading {

        margin: 10px 0 0 0;
        font-size: 14px;
        color: #bebebe;
        color: #b6c6d6;
        text-transform: uppercase;
        // Above this line were added to style record view. Unknown effects
        display: block;
        h1,h2,h3,h4,h5 {
            display: inline-block;
            // text-align: left; // overwrite for headings
        }
    }
    .detail-view-content {
        width: 400px;
        max-width: 100%;
        margin:auto;
    }
    .detail-view-icon {
        display: block;
        margin: auto;
        margin-bottom: -8px;
        font-size: 94px;
        line-height: 1;
        color: #c8ccd0;
        color: #b6c6d6;
    }
}

.background-cover {
    background-size:cover !important;
}


