li.list-item {
    list-style: none;
}

.list-divider {
    padding: 3px 11px;
    font-size: 12px;
    color: #a5a7af;
    border-bottom: 1px solid #f3f3f3;
    border-top: 1px solid #f3f3f3;
}

// .list-section-title describes a set of listings below itselt e.g. My Uploads
.list-section-title {
    font-size: 0.76em;
    line-height: 2em;
    padding: 4px 8px;
    padding-top:0px;
}