$font-size: 14px;
$line-height: 16px;
$font-family: 'Lato', sans-serif;
$heading-font-family: $font-family;
$text-color:#6e6f73;
$text-color-light: #c7cacc;
$text-color-dark: #333;
$text-color-focus: #333;
$link-color: #757575;

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,300);
// @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,600);
// @import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300,400italic);
// @import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,400italic);
// @import url(https://fonts.googleapis.com/css?family=Muli:400,300|Lato:700);

body {
  color: $text-color;
  font-family: $font-family;
  font-size: $font-size;
}

h1,h2,h3,h4,h5 {
   // font-family: $heading-font-family;
   .icon {
     float: right;
   }
}

a {
  color: $link-color;
  &:hover {
    text-decoration: none;
    // font-weight: bold;
  }
}

.text-color {
  color: $text-color;
}

.text-light {
  color: $text-color-light;
}

.text-dark {
  color: $text-color-dark;
}

.text-color-focus {
  color: $text-color-dark;
}

.label-small {
  text-transform: uppercase;
  line-height: 1;
  font-size: 12px;
  margin-left:10px;
}

.heading {
    padding: 12px 5px;
    padding: 5px 5px 12px 5px;
    margin: 0;
    border-bottom: 2px solid #eee;
    margin-bottom: 12px;
    line-height: 1;
   .icon {
     float: right;
     padding-left:10px;
   }
}

h1.heading {
  font-size: 24px;
  font-size: 21px;
}

.heading-bar {
    background: #f9f9f9;
    margin: 0;
    margin-bottom: 10px;
    padding: 15px 20px;
    color: #717171;
    font-size: 20px;
    border-bottom: 1px solid #efefef;
   .icon {
    float: right;
   }
}

.icon {
    vertical-align: middle;
}

.uppercase {
  text-transform: uppercase;
}

.stat-row {
  padding:5px;
  color:$text-color-light;
  .count {
    float: right;
  }
}

