.profile {
    .box {
        box-shadow: $box-shadow;
        border:0;
    }
    .profile-info {
        
    }
}

.profile-image {
    display: block;
    height: 35px;
    border-radius: 100px;
    width: 35px;
    margin: 3px auto;
    // margin-bottom: 18px;
    background: #f1f1f1;
    border: 2px solid #fff;
    // box-shadow: $box-shadow;
    background-size:cover;
    background-position:center;
}