
$footer-height: $footer-height;

footer {
    position: absolute;
    display: table;
    bottom: 0px;
    width:100vw;
    right:0;
    padding:10px;
    height: $footer-height;
    background: white;
    border-top:1px solid $border-color;
    left:0px;
    z-index:-1;
    .footer-content {
        vertical-align: middle;
        display: table-cell;
        text-align: center;
    }
}