// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

$header-background-color: #fff;
$header-height: $header-height
;

header {
    background-color: $header-background-color;
    height: $header-height;
    display: table;
    width: 100%;
    width: 100vw;
    box-shadow: $box-shadow;
    // padding: 0 15px;
    z-index: 1001;
    position: relative;
}

header > * {
    display: table-cell;
    vertical-align: middle;
    z-index: 1000;
    margin: auto;
    width: 100vw;
}

.header-left {
    padding: 0 12px;
    text-align: left;
    .header-logo {
        max-height: $header-height - 20px;
        max-width: 210px;
    }
    @include breakpoint('sm') {
        width: 60%;
    }
}

.header-searchbar {
    width: 50%;
    @include breakpoint('sm') {
        display: none;
        position: fixed;
        background: $background-color;
        left: 0;
        top:0;
        bottom:0;
        width: 100vw;
    }
}

.header-right {
    padding: 0 12px;
    padding-left:0px;
    text-align: right;
    // Icons
    .icon-wrapper {
        color:#acb5be;
        cursor: pointer;
        font-size: 40px;
        line-height: 1 !important;
        margin: 0px;
        padding:0 5px;
        padding-right:0;
        @include breakpoint(sm) {
            padding:0;
        }
    }
}



// header {
//     background-color: #fff;
//     box-shadow: 0 1px 2px rgba(0,0,0,0.1);
//     padding:0px 10px;
//     display: block;
//     width: 100%;
//     z-index: 100;
//     vertical-align: middle;
//     position: relative;
//     table {
//         height: 65px;
//     }
//     .header-logo {
//         max-width: 180px;
//         max-height: 45px;
//     }
//     .icon-wrapper { // icons
//         cursor: pointer;
//         @include transition;
//         &:hover {
//             opacity:1;
//         }
//     }
//     .header-searchbar {
//         position: absolute;
//         left:17%;
//         right:25%;
//         top:12px;
//         @include breakpoint('lg') {
//             left:20%;
//         }
//         @include breakpoint('md') {
//             left:25%;
//         }
//         @include breakpoint('sm') {
//             display: none;
//             background: whitesmoke;
//             height: 100vh;
//             top: 0px;
//             left: 0px;
//             right:0px;
//             position: fixed;
//             padding:15px;
//         }
//     }
//     .icon-wrapper {
//         .icon {
//             font-size: 38px
//         }
//     }
// }