#sidebar {
    background: #384756;
    min-height: 100vh;
    position: fixed;
    overflow: scroll;
    // @include gradient(#1a3847,#384756);
    @include breakpoint('sm') {
        height: auto;
        display: none;
    }
}

.settings-visible {
    display: none;
}

.uk-offcanvas-bar.red,#sidebar.red {
    .tab {
        color: rgba(255, 255, 255, 0.4) !important;
        color: rgba(240, 240, 245, 0.5) !important;
    }
    // @include gradient(#731a1a,#773d45);
    // @include gradient(#a21f31,#990000);
    // @include gradient(#881d2b,#921519);
    // background: #a21f31;
    background: #881d2b;
    .tab.selected {
        // border-left:3px solid #542c53;
        color:rgba(240, 240, 245, 0.6) !important;
    }
}
.uk-offcanvas-bar.orange,#sidebar.orange {
    .tab {
        color: rgba(255, 255, 255, 0.5) !important;
        color: rgba(240, 240, 245, 0.6) !important;
    }
    @include gradient(#d07039,#ea925e);
    @include gradient(#d07039,#da7134);
    // @include gradient(#f4a65f,#f4a65f);
}

.uk-offcanvas-bar.green,#sidebar.green {
    .tab {
        color: rgba(255, 255, 255, 0.5) !important;
        color: rgba(240, 240, 245, .6) !important;
    }
    // @include gradient(#197339,#487558);  
    @include gradient(#1b613d,#378651);    
    @include gradient(#25714a,#378651);    

}
.uk-offcanvas-bar.blue,#sidebar.blue {
    .tab {
        color: rgba(255, 255, 255, 0.5) !important;
    }
    @include gradient(#253456,#384756);  
    @include gradient(hsla(221, 30%, 34%, 1),#405277);      
    @include gradient(#3e5979,#2a526f);  
}
.uk-offcanvas-bar.purple,#sidebar.purple {
    .tab.selected {
        border-left:3px solid #297972;
    }
    @include gradient(#3c2c44,#383a56);    
}


.sidebar-toolbar-toggle {
    padding: 8px 10px;
    cursor:pointer;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.75);
    color: rgba(240, 240, 245, 0.5) !important;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    .icon-angle-right,.icon-angle-down {
        float:right;
        font-size:1.1em;
    }
}

.sidebar-toolbar {
    height: 211px;
    height: 315px;
    overflow: scroll;
    .sidebar-toolbar-add-button {
        cursor:pointer;
        width:100%;
        display: inline-block;
        position: relative;
        height: 105px;
        color: rgba(255, 255, 255, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.08);
        border-left: 0px;
        border-top: 0px;
        position: relative;
        transition: all .2s;
        &:hover {
            background: rgba(255,255,255,0.1);
        }
        .sidebar-toolbar-plus {
            position: absolute;
            right: 6px;
            top: 3px;
            color: rgba(255, 255, 255, 0.32);
        }
        span[class*="icon-circle"] {
            color: rgba(255, 255, 255, 0.5);
            position: absolute;
            font-size: 3em;
            top: 31px;
            left: 50%;
            margin-left: -21px;
        }
        .uk-icon-question-circle-o {
            cursor:pointer;
            transition:all .2s;
            position: absolute;
            left: 8px;
            top: 6px;
            color: rgba(255, 255, 255, 0.32);
            &:hover {
                color:#fff
            }
        }

        .sidebar-add-button-text {
            width: 100%;
            display: block;
            text-align: center;
            text-transform: uppercase;
            font-size: 0.8em;
            margin-top: 67px;
        }
    }
}