// The first thing added, contains page-blocks
.page-section {
    background: #fff;
    // padding:30px;
    position: relative;
    display: table;
    width:100%;
    // background-size:100vw !important;
    background-size:cover;
}

.page-block {
    display: table-cell;
    vertical-align: middle;
    max-width:100vw;
    padding:35px 25px;
    position: relative;
    background-position:center;
    background-size:cover;
    // border: 1px solid $background-color;
    transition: all .5s;
    // border:1px solid transparent;
    // border-radius: 5px;
    // z-index: 1;
    // height:100%;
}

// .page-block-edit:hover {
//     border: 1px dotted $blue;
// }

.element-toolbar {
    transition: all .5s;
    display: none;
    // border-radius: 5px;
    // box-shadow: $box-shadow;
    position: absolute;
    top:-20px;left:-5px;
    // padding:10px;
    // bottom:50px;left:5px;
    // background: rgba(0,0,0,0.5);
    .icon {
        cursor:pointer;
        &:hover {
            color:$text-color-focus;
        }
        margin-left:2px;
        font-size: 12px;
    }
}

.page-block-toolbar {
    font-size: $font-size;
    display: none;
    position: absolute;
    top:5px;
    left:5px;
    padding-right: 10px;
    box-shadow: $box-shadow;
    z-index: 10;
    padding:10px;
    border-radius: 5px;
    transition: all .2s;
    background: rgba(white, 0.5);
    &:hover {
        background: #fff;
    }
    .icon {
        color:$text-color;
        cursor:pointer;
    }
}

.page-section-toolbar {
    font-size: $font-size;
    position: absolute;
    transition: all .2s;
    display: none;
    border-radius: 100px;
    box-shadow: $box-shadow;
    z-index: 10;
    bottom:5px;
    right:5px;
    padding:10px;
    background: rgba(white, 0.5);
    &:hover {
        background: #fff;
        cursor:pointer;
    }
    .icon {
        color:$text-color;
        cursor:pointer;
        &:hover {
            color:$text-color-focus;
        }
        margin-left:2px;
        font-size: 12px;
    }
}

.page-section:hover .page-section-toolbar { 
    display: block; 
}

// Keep popup toolbar visible on hover
.page-section-toolbar:hover .page-section-toolbar {
    display: block; 
}

.page-block:hover .page-block-toolbar { 
    display: block; 
}

// Keep popup toolbar visible on hover
.page-block-toolbar:hover .page-block-toolbar {
    display: block; 
}

.element:hover .element-toolbar { 
    display: block; 
    transition: all .5s;
}

// Keep popup toolbar visible on hover
.element-toolbar:hover .element-toolbar {
    display: block; 
}

.element {
    content:'';
    min-height: 20px;
    position: relative;
    width: 100%;
    transition: all .3s;
    // * {
    //     text-align: inherit;
    // }
}

[class^="uk-width-"] {
    // background-size:auto calc(100% + 200px) !important;
    background-size:cover;
    background-position: center;
    position: relative;
}

.element-editable:hover {
    position: relative;
    // &:after {
        // top:0;left:0;bottom:0;top:0;
        // position: absolute;
        background: rgba(93, 144, 192, 0.1);
        border-radius: 2px;
        padding-left:5px;
    // }
    @include breakpoint(sm) {
        cursor: pointer; // So you can edit on mobile
    }
}

.page-block-wrapper {
    // background-size:cover;
    display: table;
    position: relative;
    height:0px;
}

.page-element-wrapper {
    display: inline-block;
    display: inline;
    width: 100%;
}

.page-block-editable {
    min-height: 5px;
}
.page-block-editable:hover {
    // border:1px solid rgba(93, 144, 192, 0.3);
}


.page-block-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    // background:rgba(0,0,0,0.15);
}

.page-button {
    a {
        line-height: $button-height;
        color:$text-color;
        &:hover {
            color:inherit;
        }
    }
}

.page-menu-items {
    padding-right:5px;
    display: inline-block;
    @include breakpoint('sm') {
        display: none;
    }
    .page-menu-item {
        padding-left:10px;
        // text-transform: uppercase;
        transition:all .2s;
        &:hover {
            color: #6e6d78;
        }
    }
}

.pages-settings-icon {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1010;
    color:#e8e8e8;
    transition: all .2s;
    &:hover {
        color:#aaa;
    }
}

// On element create
.element-form-fields {
    .form-item {
        display: none;
    }
}

// .page-block-editable:hover {
//     position: relative;
//     background:rgba(106, 192, 93, 0.1);
//     border-radius: 2px;
//     padding-left:5px;
// }

// .page-block:hover .page-block-toolbar { 
//     display: block; 
// }

// .page-block-dropdown {
//     width:200px !important;
//     margin:auto;
//     padding:8px;
//     z-index: 1000;
//     position: relative !important;
//     margin-top:-20px !important;
// }


// Editor page
.page-editor-block-toolbar, .page-editor-section-toolbar,.page-editor-element-toolbar {
    background:rgba(0,0,0,.7);
    position: absolute;
    padding: 8px 10px;
    display: inline;
    width: auto;
    transition:all .2s;
    display: none;
    z-index: 10;
    span {
        // icons in toolbar
        cursor: pointer;
        padding:0 2px;
    }
    .uk-icon-arrows-v,.uk-icon-arrows-h,.uk-icon-arrows {
        cursor:move;
    }
    *  {
        color:#fff;
    }
    opacity:.2;
}

.page-editor-block-toolbar {
    right:0px;
    bottom:0px;
    border-top-left-radius: 5px;
    &:hover {
        display: block;
        opacity:1;
    }
}

.page-editor-section-toolbar {
    left:0px;
    top:0px;
    border-bottom-right-radius: 5px;
}

.page-editor-element-toolbar {
    left:15px;
    // top:0px;
    border-radius: 5px;
    &:hover {
        display: block;
        opacity:1;
    }
}


// Show the page section toolbar on hover over section
.page-section  {
    &:hover {
        .page-editor-section-toolbar {
            display: block;
            &:hover {
                display: block;
                opacity:1;
            }
        }
    }
} 

// Show the page block toolbar on hover over block
.page-block {
    &:hover {
        .page-editor-block-toolbar {
            display: block;
            &:hover {
                display: block;
                opacity:1;
            }
            &:hover .page-block {
                display: block;
                opacity:1;
            }
        }
    }
} 

// .uk-dropdown:hover + .page-block  {
//     display: block;
// }

// Show the page element toolbar on hover over element
.page-element {
    max-width: 100%;
    transition: all .2s;
    // border:1px solid transparent;
    border:0px;
    &:hover {
        // background-color:rgba(182, 197, 214, 0.3);
        // border-radius:3px;
        // border:1px solid rgb(182, 197, 214);
        .page-editor-element-toolbar {
            display: block;
        }
    }
}

.add-element-menu-wrapper, .edit-element-menu-wrapper {
    position: relative;
    z-index: 10;
    .close-add-element-menu, .close-edit-element-menu {
    cursor:pointer;
    left: 307px;
    top: 10px;
    font-size: 2em;
    position: absolute;
    }
}
.add-element-menu, .edit-element-menu {
    // padding-bottom:62px; // button height
    // overflow: scroll;
    // position: fixed;
    // z-index: 1000;
    // background: rgba(253, 253, 253, 0.93);
    // box-shadow: $box-shadow;
    // left:0;
    // top:$header-height;
    // bottom:0;
    // width: 300px;
    // max-width: 100%;
    padding-bottom: 62px;
    overflow: scroll;
    position: absolute;
    z-index: 1000;
    background: rgba(253, 253, 253, 0.93);
    box-shadow: $box-shadow;
    left: 0;
    top: 0px;
    bottom:0;
    width: 300px;
    min-height: 100vh;
    max-width: 100%;
    form {
        height: 100%;
    }
    h2 {
        margin:0;
        padding:10px 15px;
        font-size: 17px;
        background:white;
        box-shadow: $box-shadow;
    }
    .list-item {
        border-radius: 0;
        border:0;
        border-bottom:1px solid #f4f4f4;
        margin:0;
        &:hover {
            background: #fbfbfb;
        }
    }
}
.add-element-save-button, .edit-element-save-button,.add-element-to-block-button {
    position: fixed;
    bottom:0px;
    z-index: 1000;
    width: 300px;
    max-width: 100%;
    // background: $green;
    border-radius: 0;
    // color:white;
}

.add-element-menu, .close-add-element-menu, .add-element-save-button {
    display: none;
}

.edit-element-menu, .close-edit-element-menu, .edit-element-save-button {
    display: none;
}