.record-set-toolbar {
    padding:0;
    margin:0;
    border-bottom:1px solid $border-color;
    margin-bottom:10px;
    color:#717a8a;
    .select-wrapper {
        position: relative;
        display: inline-block;
        margin-top: -8px;
        .form-item {
            margin-top: -8px;
        }
        height: 40px;
        margin-bottom: 5px;
        select {
            border:0;
            background:0;
            height: 40px;
            margin:0;
            padding: 5px;
                padding-right: 30px;
            width:auto;
            display:inline-block;
            &:focus {
                box-shadow: none;
            }
        }
        .icon {
            // font-size: 18px;
            font-size: 13px;
            line-height: 48px;
            // margin-left:-10px;
            z-index: -1;
        }
    }
    .icon {
        margin-top:-3px;
        cursor:pointer;
        &:hover {
            color:$text-color;
        }
    }
}