#datepicker {
    margin-bottom:10px;
    .ui-datepicker { 
        width: 100%;
    }
    .ui-widget-content {
        box-shadow: none;
    }
    @include breakpoint('sm') {
        .ui-datepicker { 
            width: 100%;
        }
    }
    .ui-datepicker-calendar {
        tbody {
            border-left: 12px solid #fff;
    border-right: 12px solid #fff;
        }
    }
}


.schedule-day {
    background: #fff;
    border-radius: 5px;
    box-shadow: $box-shadow;
    overflow:hidden;
    .schedule-day-header {
        padding: 11px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        box-shadow: $box-shadow;
    }
    .schedule-day-body {
        height:354px;
        overflow: scroll;
        .schedule-unavailable-block {
            // top: 0px;
            position: absolute;
            width: 100%;
            background:rgba(247, 247, 247, 0.63);
        }
        position: relative;
        .reservation-time-block {
            position: absolute;
            height:30px;
            background:rgba(234, 156, 81, 0.32); // orange
            transition:all .2s;
            text-align: center;
            font-size: 0.8em;
            right:20px;
            left:55px;
            border-radius: 5px;
            font-size: 10px;
            color: rgba(0,0,0,.5);
            cursor: pointer;
            // overflow:hidden;
            &:hover {
                z-index: 10;
                // background:rgba(234, 156, 81, 0.5); // orange
                background:rgba(239, 180, 124,0.8);
                box-shadow: $box-shadow;
                right: 15px;
                left: 64px
            }
            // the name of the reservable item/person/thing
            b {
                position: absolute;
                top: -15px;
                width: 100%;
                text-align: center;
                left: 0;
            }
        }
        .schedule-day-hour {
            &:nth-of-type(even) {
                background: #fdfdfd;
            }
            &:nth-of-type(1) {
                border-top:0;
            }
            height:60px;
            line-height: 60px;
            border-top:1px solid #f5f5f5;
            border-left:0px;
            border-right:0px;
            font-size: 10px;
            padding-left:10px;
        }
    }
    .schedule-reservation {
        border-radius: 5px;
        border:1px solid rgba(0,0,0,0.3);
        background: rgba(0,0,0,0.3);
        display: table-cell;
    }
}