// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Make a context based selector a little more friendly
/// @author Hugo Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

@mixin shadow() {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}

@mixin transition( $val : ease 0.25s ) {
  transition:$val;
}

@mixin truncate_text($overflow: ellipsis){
  overflow: hidden;
  white-space: nowrap;
  text-overflow: $overflow; // values are: clip, ellipsis, or a string
}

@mixin gradient($start-color, $end-color) {
  background: $start-color;
  background: -moz-linear-gradient(left,  $start-color 0%, $end-color 100%);
  background: -webkit-linear-gradient(left,  $start-color 0%,$end-color 100%);
  background: linear-gradient(to right,  $start-color 0%,$end-color 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=1 );
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}

@mixin breakpoint($size) {
  @if $size == sm {
    @media screen and (max-width: 767px) { @content; }
  }
  @else if $size == md {
    @media screen and (max-width: 960px) { @content; }
  }
  @else if $size == lg {
    @media screen and (max-width: 1200px)  { @content; }
  }
  @else {
    @media screen and (max-width: $size)  { @content; }
  }
}
