// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Layout settings
$footer-height: 70px;
$header-height: 70px;

/// Font settings
$font-size: 14px;
$font-family: 'Muli', sans-serif;
$heading-font-family: 'Muli', sans-serif;

/// Border color
/// @type Color
$border-color:#eee;
$border-color-light:#f7f7f8;
$border-color-dark:#ddd;


/// Borders
/// @type Border
$border: 1px solid $border-color;
$border-light: 1px solid $border-color-light;
$border-dark: 1px solid $border-color-dark;

/// Border radius
$border-radius: 5px;

/// Box shadow defaults
/// @type Shadow
$box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
// $box-shadow-alt: 0 1px 2px rgba(0, 0, 0, 0.1);
// $box-shadow-inset: 0 1px 2px rgba(0, 0, 0, 0.1);
// $box-shadow-below: 0 1px 2px rgba(0, 0, 0, 0.1);

/// Common colors
/// @type Color
$red: #962d3e !default;
$orange: #eb8a52 !default;
$green: #27b884 !default;
$yellow: yellow !default;
$blue: #245578 !default;
$teal: teal !default;
$purple: #62366a !default;
$grey: #72828E !default;
$dark-grey: #343434 !default;

/// Background color
/// @type Color
$background-color: #f5f5f5;
$background-color-light: #f1f1f1 !default;
$background-color-dark: rgb(153, 153, 153) !default;

/// Focus maximum width
/// @type Length
$focus-width: 800px !default;
