.accordion {

    color:#797b82;
    &:hover {
        color:#626369;
    }
    position: relative;
    .accordion-title {
        padding: 1.5em 1em;
        border-bottom:$border;
        cursor: pointer;
        font-size: 18px;
        padding-left: 50px;
        * {
            display: inline-block;
        }
        .accordion-icon-left {
            font-size: 2em;
            position: absolute;
            left: 0.2em;
        }
        .accordion-icon-right {
            float: right;
        }
    }
    .accordion-content {
        display: none;
        padding:20px 10px;
        box-shadow: 
        inset 0px 11px 5px -11px #ebebeb,
        inset 0px -11px 5px -11px #ebebeb;
    }
}

.accordion-small {
    .accordion-title {
        padding: 1em 1em;
        border-bottom:$border;
        cursor: pointer;
        font-size: 14px;
        padding-left: 50px;
        * {
            display: inline-block;
        }
        .accordion-icon-left {
            span { line-height: 18px !important; }
            position: absolute;
            left: 15px;
        }
        .accordion-icon-right {
            float: right;
        }
    }
    .accordion-content {
        display: none;
        padding: 12px 15px;
        box-shadow: 
        inset 0px 11px 5px -11px #ebebeb,
        inset 0px -11px 5px -11px #ebebeb;
    }
}