.add-button-menu {
  box-shadow: none;
  position: fixed;
bottom: 15px;
    right: 15px;
  box-shadow: 0;
  z-index: 1000;
  .uk-dropdown {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1),0 0 1px rgba(0,0,0,0.1);
    width: 300px;
    background-color: #fff;
    padding: 0px;
    z-index: 1010;
    text-align: center;
    border-radius: 8px;
    border:0px;
    border-bottom:1px solid #eee;
    margin-top: -50px;
  }
  .list-item {
    margin:0;
    border-radius: 0;
  }
    li {
        background-color: #fff;
        border-radius: 0;
        width: 100%;
        position: relative;
        border:0;
        cursor:pointer;
        border-bottom:1px solid $border-color-light;
        &:hover {
            background: #fbfbfb;
        }
    }
  .add-button {
    // &:focus {
    //     background: yellow;
    // }
      // position: absolute;
      // bottom: 20px;
      // right: 20px;
      text-align: center;
      height: 60px;
      width: 60px;
      min-width: 0;
      padding: 0px;
      font-size: 2.2em;
      margin: 0;
      line-height: 1;
      line-height: 2; // Updated Dec 2nd
      // color: #ACBEC6;
      // color: $text-color-light;
      color: #253d4c;
      border-radius: 100px;
      border: 1px solid #eee;
      @include transition();
      &:hover { 
          // box-shadow: none !important;
          box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.05);
      }
  }
}