#alert {
    display: none;
    padding: 18px 20px;
    color: white;
    position: fixed;
    background: #8d9aa7;
    bottom: 25px;
    z-index: 10000;
    border-radius: 3px;
    padding-right:50px;
    left:50%;
    margin-left:-200px;
    width:400px;
    @include breakpoint(sm) {
        width: auto;
        left:15px;
        right:15px;
        margin:0;
    }
}

.alert-close {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -9px;
    cursor: pointer;
    opacity: 0.9;
    &:hover {
        opacity:1;
    }
}

#alert.success {
    background: $green !important;
}

#alert.error {
    background: $red;
}
