.block {
    position: relative;
    border: 2px solid #f1f1f1;
    border-radius: 3px;
    padding:1.5em 2em;
    background: #fff;
    margin-top:10px;
        border-radius: 7px;
    margin-bottom:20px;
}
.block-heading {
    padding: 12px 10px;
    border-bottom: 1px solid #eee;
    margin-top: 0;
    margin-bottom: 12px;
    /* margin-left: -5px; */
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    color: #666;
    .icon {
        float: right;
    }
}
.block-button {
    margin-top: 20px;
    // width: 100%;
    // border-radius: $button-height;
    // text-transform: uppercase;
    // width: 100%;
    // position: absolute;
    // bottom: 0px;
    // right:0px;
}

.block.organization-block {
    $block_org_button_height:60px;
    padding-bottom:30px + $block_org_button_height;
    // .organization-block-logo {
    //     float:right;
    //     display: inline;
    //     height: 50px;
    // }
    .organization-block-name {
        // display: inline-block;
        // font-size: 18px;
        // margin-bottom: 25px;
        // text-align: center;
        font-size: 18px;
        // padding-bottom: 14px;
        // text-align: center;
        // border-bottom: 1px solid $border-color-light;
    }
    .organization-block-button {
        border-left:0;
        border-right:0;
        border-radius: 3px !important;
        height: $block_org_button_height;
        .icon {
            line-height: $block_org_button_height;
        }
        // line-height: $block_org_button_height;
        width: 100%;
        border-top:$border-light;
        border-top-left-radius:0px;
        border-top-right-radius:0px;
        position: absolute;
        bottom:0px;right:0px;left:0px;
        &:hover {
            box-shadow: $box-shadow;
        }
    }
}