$box-border-radius: $border-radius;
$box-button-height: 60px;
$box-heading-height: 55px;

.box {
    border-radius: $box-border-radius;
    background: #fff;
    border: 1px solid #efefef;
    border-radius: 5px;
    padding: 15px;
    margin: 8px 0;
    position: relative;
    max-width: 100%;
    width: 380px;
    margin:auto;
    max-width: 100%;
    .box-heading {
        @include truncate_text();
        font-size: 22px;
        position: absolute;
        width:100%;
        border:0;
        border-bottom:1px solid #f4f4f4;
        border-radius: 0;
        border-top-left-radius: $box-border-radius;
        border-top-right-radius: $box-border-radius;
        height: $box-heading-height;
        line-height: $box-heading-height;
        padding:0 15px;
        top: 0px;
        right: 0px;
        span,.icon {
            float: right;
            line-height: $box-heading-height;
        }
    }
    .box-button {
        border:0;
        border-top:1px solid #f4f4f4;
        border-radius: 0;
        border-bottom-left-radius: $box-border-radius;
        border-bottom-right-radius: $box-border-radius;
        position: absolute;
        height: $box-button-height;
        bottom: 0px;
        right: 0px;
        width: 100%;
        display: block;
        transition: all .2s; 
        &:hover {
            box-shadow: $box-shadow;
        }
    }
    padding-top: $box-heading-height + 18px;
    padding-bottom: $box-button-height + 18px;
}

.box-shadow {
    box-shadow: $box-shadow;
    border:0;
}

.message-box {
    border:#border;
    color:#adb1ab;
    padding: 15px;
    border-radius: $border-radius;
    border: $border;
    background: #fbfbfb;
    text-align: center;
    font-size: 12px;
}

// Like box but had more space at the top heading for a logo instead of the text that is typically there
.logo-box {
    padding-top: 95px;
    .box-heading {
        text-align: center;
        height: 80px;
        img {
            padding:12px 0;
            max-height: 72px;
            margin-top: 4px !important;
        }
    }
}