$button-border: $border;
$button-border: none;
$button-background: #fdfdfd;
$button-border-radius: 4px;
$button-padding:8px 30px;
$button-height:48px;

button {
    min-width: 100px;
    position:relative;
    border: $button-border;
    background: $button-background;
    border-radius: $button-border-radius;
    padding: $button-padding;
    height: $button-height;
    overflow: hidden;
    margin-top: 10px;
    transition: all .2s;
    border:$border;
    @include truncate_text();
    &:hover {
        box-shadow: $box-shadow;
    }
    .button-icon-left {
        position: absolute;
        top:0px;
        left:13px;
        line-height: $button-height;
    }
    .button-icon-right {
        position: absolute;
        top:0px;
        right:13px;
        line-height: $button-height;
    }
    a {
        position: absolute;
        bottom: 0;
        right:0;
        left:0;
        top:0;
        width:100%;
        opacity:1;
        content:'';
    }
    @include breakpoint('sm') {
        .box {
            button {
                width: 100%;
            }
        }
        form {
            button {
                width: 100%;
            }
        }
    }
}

button.has-icon-left {
    padding-right: 20px;
    padding-left: 35px;
}

button.has-icon-right {
    padding-left: 20px;
    padding-right: 35px;
}

button.icon-button {
    padding: 0px;
    margin: 0 0 0 5px;
    border-radius: 100px;
    display: inline;
    min-width: 0;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
}

button.red    { background:$red; color:#fff; border:0; }
button.orange { background:$orange; color:#fff; border:0; }
button.green  { background:$green; color:#fff; border:0; }
button.blue   { background:$blue; color:#fff; border:0; }
button.purple { background:$purple; color:#fff; border:0; }
button.white  { background:#fff; color:$text-color; }
button.dark   { background:$dark-grey; color:#fff; border:0; }

button.red:hover    { background:darken($red,3%); }
button.orange:hover { background:darken($orange,3%); }
button.green:hover  { background:darken($green,3%); }
button.blue:hover   { background:darken($blue,3%); }
button.purple:hover { background:darken($purple,3%); }
button.white:hover  { background:darken(#fff,1%); color:$text-color }
button.dark:hover   { background:darken($dark-grey,3%); }