.details {
    display: table;
    width: 100%;
    font-size: 12px;
    .detail-row {
        &:last-of-type { border:0; }
        padding: 10px;
        border-bottom:$border-light;    
        .detail-label {
            display: table-cell;
            width: 100%;
            text-transform: uppercase;
            opacity: 0.5;
        }
        .detail-value {
            width: 100%;
            text-align: right;
            display: table-cell;
        }
    }
}