.uk-dropdown {
    background: white;
    border-radius: 3px;
    box-shadow: $box-shadow;
    padding: 0px;
    overflow:hidden;
    ul {    
        margin:0;
    }
    li {
        list-style: none;
        padding:10px;
        border-bottom:$border;
        margin-bottom: 0px !important;
        text-align: left;
        &:last-of-type {
            border:none;
        }
    }
}

.uk-button-dropdown {
    z-index: 1000 !important;
}