$icon-wrapper-height: $line-height;

.icon-wrapper {
    line-height: inherit !important;
    position: relative;
    display: inline-block;
    // background: $re d;
    vertical-align: middle;
    text-align: center;
    .icon {
    }
    .icon-text {
        text-transform: uppercase;
        font-size: 7px;
        line-height: 15px;
        display: block;
        @include truncate_text();
    }
    a {
        position: absolute;
        bottom: 0;
        right:0;
        left:0;
        top:0;
        width:100%;
        opacity:1;
        content:'';
    }
}

@charset "UTF-8";

@font-face {
  font-family: "nebula";
  src:url("../fonts/nebula/nebula.eot");
  src:url("../fonts/nebula/nebula.eot?#iefix") format("embedded-opentype"),
    url("../fonts/nebula/nebula.woff") format("woff"),
    url("../fonts/nebula/nebula.ttf") format("truetype"),
    url("../fonts/nebula/nebula.svg#nebula") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "nebula" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "nebula" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// .icon-user:before {
//   content: "\e000";
// }
// .icon-search-alt-1:before {
//   content: "\e001";
// }
// .icon-clock:before {
//   content: "\e002";
// }
// .icon-back:before {
//   content: "\e003";
// }
// .icon-loader:before {
//   content: "\e004";
// }
// .icon-search:before {
//   content: "\e005";
// }
// .icon-eye:before {
//   content: "\e006";
// }
// .icon-circle-plus-alt:before {
//   content: "\e007";
// }
// .icon-circle-minus-alt:before {
//   content: "\e008";
// }
// .icon-circle-check-alt:before {
//   content: "\e009";
// }
// .icon-circle-x:before {
//   content: "\e00a";
// }
// .icon-attachment:before {
//   content: "\e00b";
// }
// .icon-angle-down:before {
//   content: "\e00c";
// }
// .icon-angle-left:before {
//   content: "\e00d";
// }
// .icon-angle-right:before {
//   content: "\e00e";
// }
// .icon-angle-up:before {
//   content: "\e00f";
// }
// .icon-file-image:before {
//   content: "\e010";
// }
// .icon-file:before {
//   content: "\e011";
// }
// .icon-file-pdf:before {
//   content: "\e012";
// }
// .icon-file-text:before {
//   content: "\e013";
// }
// .icon-settings:before {
//   content: "\e014";
// }
// .icon-trash:before {
//   content: "\e015";
// }
// .icon-key:before {
//   content: "\e016";
// }
// .icon-paperplane:before {
//   content: "\e017";
// }
// .icon-photo:before {
//   content: "\e018";
// }
// .icon-lock:before {
//   content: "\e019";
// }
// .icon-bubble:before {
//   content: "\e01a";
// }
// .icon-stack:before {
//   content: "\e01b";
// }
// .icon-logout:before {
//   content: "\e01d";
// }
// .icon-expand:before {
//   content: "\e01e";
// }
// .icon-contract:before {
//   content: "\e01f";
// }
// .icon-help:before {
//   content: "\e020";
// }
// .icon-file-remove:before {
//   content: "\e021";
// }
// .icon-file-plus:before {
//   content: "\e022";
// }
// .icon-upload:before {
//   content: "\e023";
// }
// .icon-download:before {
//   content: "\e024";
// }
// .icon-inbox:before {
//   content: "\e025";
// }
// .icon-menu-alt:before {
//   content: "\e026";
// }
// .icon-move:before {
//   content: "\e027";
// }
// .icon-arrow-left:before {
//   content: "\e028";
// }
// .icon-arrow-right:before {
//   content: "\e029";
// }
// .icon-arrow-up:before {
//   content: "\e02a";
// }
// .icon-arrow-down:before {
//   content: "\e02b";
// }
// .icon-duplicate:before {
//   content: "\e02c";
// }
// .icon-notification:before {
//   content: "\e02d";
// }
// .icon-pencil:before {
//   content: "\e02e";
// }
// .icon-credit-card:before {
//   content: "\e02f";
// }
// .icon-locked:before {
//   content: "\e031";
// }
// .icon-unlocked:before {
//   content: "\e032";
// }
// .icon-camera:before {
//   content: "\e033";
// }
// .icon-bubble-alt:before {
//   content: "\e034";
// }
// .icon-web:before {
//   content: "\e035";
// }
// .icon-trash-alt:before {
//   content: "\e036";
// }
// .icon-cloud:before {
//   content: "\e037";
// }
// .icon-clip:before {
//   content: "\e038";
// }
// .icon-star:before {
//   content: "\e039";
// }
// .icon-refresh:before {
//   content: "\e03a";
// }
// .icon-folder:before {
//   content: "\e03b";
// }
// .icon-home:before {
//   content: "\e03c";
// }
// .icon-angle-down-circle:before {
//   content: "\e03d";
// }
// .icon-toggle-off:before {
//   content: "\e03e";
// }
// .icon-toggle-on:before {
//   content: "\e03f";
// }
// .icon-pin:before {
//   content: "\e040";
// }
// .icon-signature:before {
//   content: "\e041";
// }
// .icon-signature-pen:before {
//   content: "\e042";
// }
// .icon-calendar:before {
//   content: "\e044";
// }
// .icon-edit:before {
//   content: "\e045";
// }
// .icon-credit-card-alt:before {
//   content: "\e046";
// }
// .icon-organization:before {
//   content: "\e049";
// }
// .icon-square-check:before {
//   content: "\e04a";
// }
// .icon-square-minus:before {
//   content: "\e04b";
// }
// .icon-square-plus:before {
//   content: "\e04c";
// }
// .icon-square-x:before {
//   content: "\e04d";
// }
// .icon-tag:before {
//   content: "\e04e";
// }
// .icon-x:before {
//   content: "\e04f";
// }
// .icon-check:before {
//   content: "\e050";
// }
// .icon-minus:before {
//   content: "\e051";
// }
// .icon-plus:before {
//   content: "\e052";
// }
// .icon-menu:before {
//   content: "\e053";
// }
// .icon-feather-webfont-10:before {
//   content: "\e054";
// }
// .icon-feather-webfont-11:before {
//   content: "\e055";
// }
// .icon-circle:before {
//   content: "\e056";
// }
// .icon-square:before {
//   content: "\e057";
// }
// .icon-cloud-download:before {
//   content: "\e043";
// }
// .icon-cloud-upload:before {
//   content: "\e047";
// }
// .icon-feather-webfont:before {
//   content: "\e01c";
// }
// .icon-radio-checked:before {
//   content: "\e030";
// }
// .icon-external-link:before {
//   content: "\e048";
// }
// .icon-draggable:before {
//   content: "\e058";
// }
// .icon-home-alt:before {
//   content: "\e059";
// }
// .icon-circle-announcement:before {
//   content: "\e05a";
// }
// .icon-circle-add:before {
//   content: "\e05b";
// }
// .icon-circle-unit:before {
//   content: "\e05d";
// }
// .icon-close:before {
//   content: "\e065";
// }
// .icon-circle-bubble:before {
//   content: "\e067";
// }
// .icon-circle-payment:before {
//   content: "\e068";
// }
// .icon-circle-calendar:before {
//   content: "\e069";
// }
// .icon-circle-close:before {
//   content: "\e06c";
// }
// .icon-circle-cloud:before {
//   content: "\e06d";
// }
// .icon-circle-edit:before {
//   content: "\e06f";
// }
// .icon-circle-form:before {
//   content: "\e070";
// }
// .icon-circle-home:before {
//   content: "\e071";
// }
// .icon-circle-inbox:before {
//   content: "\e073";
// }
// .icon-circle-lead:before {
//   content: "\e074";
// }
// .icon-circle-menu:before {
//   content: "\e075";
// }
// .icon-circle-minus:before {
//   content: "\e076";
// }
// .icon-circle-layout:before {
//   content: "\e05e";
// }
// .icon-circle-launchlab:before {
//   content: "\e05c";
// }
// .icon-circle-settings:before {
//   content: "\e05f";
// }
// .icon-modal:before {
//   content: "\e060";
// }
// .icon-select-arrow:before {
//   content: "\e061";
// }
// .icon-circle-user:before {
//   content: "\e062";
// }
// .icon-circle-upload:before {
//   content: "\e063";
// }
// .icon-circle-search:before {
//   content: "\e064";
// }
// .icon-circle-list:before {
//   content: "\e06a";
// }
// .icon-circle-folder:before {
//   content: "\e06b";
// }
// .icon-icon-circle-folder:before {
//   content: "\e06b";
// }
// .icon-circle-file:before {
//   content: "\e06e";
// }
// .icon-circle-pdf:before {
//   content: "\e077";
// }
// .icon-circle-file-text:before {
//   content: "\e078";
// }
// .icon-circle-sheet:before {
//   content: "\e079";
// }
// .icon-circle-doc:before {
//   content: "\e07a";
// }
// .icon-circle-image:before {
//   content: "\e072";
// }
// .icon-circle-link:before {
//   content: "\e07b";
// }
// .icon-more:before {
//   content: "\e07c";
// }
// .icon-link:before {
//   content: "\e066";
// }


.icon-user:before {
  content: "\e000";
}
.icon-search-alt-1:before {
  content: "\e001";
}
.icon-clock:before {
  content: "\e002";
}
.icon-back:before {
  content: "\e003";
}
.icon-loader:before {
  content: "\e004";
}
.icon-search:before {
  content: "\e005";
}
.icon-eye:before {
  content: "\e006";
}
.icon-circle-plus-alt:before {
  content: "\e007";
}
.icon-circle-minus-alt:before {
  content: "\e008";
}
.icon-circle-check-alt:before {
  content: "\e009";
}
.icon-circle-x:before {
  content: "\e00a";
}
.icon-attachment:before {
  content: "\e00b";
}
.icon-angle-down:before {
  content: "\e00c";
}
.icon-angle-left:before {
  content: "\e00d";
}
.icon-angle-right:before {
  content: "\e00e";
}
.icon-angle-up:before {
  content: "\e00f";
}
.icon-file-image:before {
  content: "\e010";
}
.icon-file:before {
  content: "\e011";
}
.icon-file-pdf:before {
  content: "\e012";
}
.icon-file-text:before {
  content: "\e013";
}
.icon-settings:before {
  content: "\e014";
}
.icon-trash:before {
  content: "\e015";
}
.icon-key:before {
  content: "\e016";
}
.icon-paperplane:before {
  content: "\e017";
}
.icon-photo:before {
  content: "\e018";
}
.icon-lock:before {
  content: "\e019";
}
.icon-bubble:before {
  content: "\e01a";
}
.icon-stack:before {
  content: "\e01b";
}
.icon-logout:before {
  content: "\e01d";
}
.icon-expand:before {
  content: "\e01e";
}
.icon-contract:before {
  content: "\e01f";
}
.icon-help:before {
  content: "\e020";
}
.icon-file-remove:before {
  content: "\e021";
}
.icon-file-plus:before {
  content: "\e022";
}
.icon-upload:before {
  content: "\e023";
}
.icon-download:before {
  content: "\e024";
}
.icon-inbox:before {
  content: "\e025";
}
.icon-menu-alt:before {
  content: "\e026";
}
.icon-move:before {
  content: "\e027";
}
.icon-arrow-left:before {
  content: "\e028";
}
.icon-arrow-right:before {
  content: "\e029";
}
.icon-arrow-up:before {
  content: "\e02a";
}
.icon-arrow-down:before {
  content: "\e02b";
}
.icon-duplicate:before {
  content: "\e02c";
}
.icon-notification:before {
  content: "\e02d";
}
.icon-pencil:before {
  content: "\e02e";
}
.icon-credit-card:before {
  content: "\e02f";
}
.icon-locked:before {
  content: "\e031";
}
.icon-unlocked:before {
  content: "\e032";
}
.icon-camera:before {
  content: "\e033";
}
.icon-bubble-alt:before {
  content: "\e034";
}
.icon-web:before {
  content: "\e035";
}
.icon-trash-alt:before {
  content: "\e036";
}
.icon-cloud:before {
  content: "\e037";
}
.icon-clip:before {
  content: "\e038";
}
.icon-star:before {
  content: "\e039";
}
.icon-refresh:before {
  content: "\e03a";
}
.icon-folder:before {
  content: "\e03b";
}
.icon-home:before {
  content: "\e03c";
}
.icon-angle-down-circle:before {
  content: "\e03d";
}
.icon-toggle-off:before {
  content: "\e03e";
}
.icon-toggle-on:before {
  content: "\e03f";
}
.icon-pin:before {
  content: "\e040";
}
.icon-signature:before {
  content: "\e041";
}
.icon-signature-pen:before {
  content: "\e042";
}
.icon-calendar:before {
  content: "\e044";
}
.icon-edit:before {
  content: "\e045";
}
.icon-credit-card-alt:before {
  content: "\e046";
}
.icon-organization:before {
  content: "\e049";
}
.icon-square-check:before {
  content: "\e04a";
}
.icon-square-minus:before {
  content: "\e04b";
}
.icon-square-plus:before {
  content: "\e04c";
}
.icon-square-x:before {
  content: "\e04d";
}
.icon-tag:before {
  content: "\e04e";
}
.icon-x:before {
  content: "\e04f";
}
.icon-check:before {
  content: "\e050";
}
.icon-minus:before {
  content: "\e051";
}
.icon-plus:before {
  content: "\e052";
}
.icon-menu:before {
  content: "\e053";
}
.icon-feather-webfont-10:before {
  content: "\e054";
}
.icon-feather-webfont-11:before {
  content: "\e055";
}
.icon-circle:before {
  content: "\e056";
}
.icon-square:before {
  content: "\e057";
}
.icon-cloud-download:before {
  content: "\e043";
}
.icon-cloud-upload:before {
  content: "\e047";
}
.icon-feather-webfont:before {
  content: "\e01c";
}
.icon-radio-checked:before {
  content: "\e030";
}
.icon-external-link:before {
  content: "\e048";
}
.icon-draggable:before {
  content: "\e058";
}
.icon-home-alt:before {
  content: "\e059";
}
.icon-circle-announcement:before {
  content: "\e05a";
}
.icon-circle-add:before {
  content: "\e05b";
}
.icon-circle-unit:before {
  content: "\e05d";
}
.icon-close:before {
  content: "\e065";
}
.icon-circle-bubble:before {
  content: "\e067";
}
.icon-circle-payment:before {
  content: "\e068";
}
.icon-circle-calendar:before {
  content: "\e069";
}
.icon-circle-close:before {
  content: "\e06c";
}
.icon-circle-cloud:before {
  content: "\e06d";
}
.icon-circle-edit:before {
  content: "\e06f";
}
.icon-circle-form:before {
  content: "\e070";
}
.icon-circle-home:before {
  content: "\e071";
}
.icon-circle-inbox:before {
  content: "\e073";
}
.icon-circle-lead:before {
  content: "\e074";
}
.icon-circle-menu:before {
  content: "\e075";
}
.icon-circle-minus:before {
  content: "\e076";
}
.icon-circle-layout:before {
  content: "\e05e";
}
.icon-circle-launchlab:before {
  content: "\e05c";
}
.icon-circle-settings:before {
  content: "\e05f";
}
.icon-modal:before {
  content: "\e060";
}
.icon-select-arrow:before {
  content: "\e061";
}
.icon-circle-user:before {
  content: "\e062";
}
.icon-circle-upload:before {
  content: "\e063";
}
.icon-circle-search-alt:before {
  content: "\e064";
}
.icon-circle-list:before {
  content: "\e06a";
}
.icon-circle-folder:before {
  content: "\e06b";
}
.icon-icon-circle-folder:before {
  content: "\e06b";
}
.icon-circle-file:before {
  content: "\e06e";
}
.icon-circle-pdf:before {
  content: "\e077";
}
.icon-circle-file-text:before {
  content: "\e078";
}
.icon-circle-sheet:before {
  content: "\e079";
}
.icon-circle-doc:before {
  content: "\e07a";
}
.icon-circle-image:before {
  content: "\e072";
}
.icon-circle-link:before {
  content: "\e07b";
}
.icon-more:before {
  content: "\e07c";
}
.icon-link:before {
  content: "\e066";
}
.icon-circle-search:before {
  content: "\e07d";
}





[class^="icon-"] {
  // font: normal normal normal 14px/1 FontAwesome;

// display:inline-block;
//     vertical-align:middle;
    // line-height: 40px
}

.icon {
  // display: inline-block;
  // font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Makes icons vertical align
[data-icon]:before,[class^="icon-"]:before, [class*=" icon-"]:before {
    // line-height: 2.6 !important;
    // line-height: inherit;
    // display: inline-block;
    // vertical-align: middle;
    line-height: inherit !important;
    // height: 100%;
    // display: inline-block;
    // vertical-align: middle;
    // text-align: center;
    // line-height: inherit;
// line-height: inherit !important;
// background: black;
    // background-color:black;
    // color:white;
    // text-align: center;
    // vertical-align: bottom;
  // font-family: "nebula" !important;
  // font-style: normal !important;
  // font-weight: normal !important;
  // font-variant: normal !important;
  // text-transform: none !important;
  // speak: none;
  // line-height: 1;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}