$list-item-border: 1px solid #f0f0f0;
// $list-item-border: 1px solid tranparent;
$list-item-background: #fff;
$list-item-border-radius: 5px;
$list-item-padding:10px 15px;
$list-item-height:55px;

.list-item {
    position:relative;
    border: $list-item-border;
    background: $list-item-background;
    border-radius: $list-item-border-radius;
    padding: $list-item-padding;
    height: $list-item-height;
    margin-bottom: 9px;
    overflow: hidden;
    display: table;
    width:100%;
    cursor: pointer;
    transition: all 0.4s;
    table-layout: fixed;
    &:hover {
        box-shadow: $box-shadow;
        border-color:  $list-item-background;
        transform:scale(1.005);
    }
    .list-item-body {
        display: table-cell;
        vertical-align: middle;
    }
    .list-item-icon-left {
        position: absolute;
        top:0px;
        left:13px;
        // line-height: $list-item-height;
        // line-height: 1;
    }
    .list-item-icon-right {
        position: absolute;
        top:0px;
        right:13px;
        // line-height: 1;
        line-height: $list-item-height - 1px;
    }
    // Make arrow on the right side larger
    .list-item-icon-right.icon-angle-right {
        font-size: 1.5em;
        right: 5px;
        // color: #cacdcf;
        color: #95acbc;
    }
    .list-item-text {
        font-size: 13px;
        display: block;
        width:100%;
        line-height: 17px;
        @include truncate_text();
    }
    .list-item-subtext {
        display: block;
        font-size: 10px;
        line-height: 10px; // matches .has-subtext
        color: #c7cacc;
    }
    a.list-item-link {
        position: absolute;
        bottom: 0;
        right:0;
        left:0;
        top:0;
        width:100%;
        opacity:1;
        content:'';
    }
}

.list-item.has-icon-left {
    padding-right: 20px;
    padding-left: 35px;
}

.list-item.has-icon-right {
    padding-left: 15px;
    padding-right: 35px;
}

.list-item.has-icon-right.has-icon-left {
    padding-right: 35px !important;
    padding-left: 35px !important;
}

.list-item.has-icon-right.has-icon-left.has-circle-icon {
    padding-right: 35px !important;
    padding-left: 50px !important;
}

.list-item.has-circle-icon {
    padding-left:50px;
    .list-item-icon-left {
        color:$text-color-light;
        font-size: 37px;
        left: 7px;
        line-height: $list-item-height;
    }
}

// If subtext is present, update the line height of the icon to match the parent
.list-item-icon-left.has-subtext, .list-item-icon-right.has-subtext {
    line-height: $list-item-height;
}


// Dropdown list item
// uk-visible small added to apply styling to dropdown list items that are hidden on small screens
.uk-dropdown > ul > .list-item, .uk-dropdown > ul > .uk-visible-small > .list-item {
    font-size: .8em;
    padding:  12px 15px;
    border:0;
    border-bottom:$border-light;
    text-align: center;
    &:last-of-type {
        border-bottom-left-radius:$list-item-border-radius;
        border-bottom-right-radius:$list-item-border-radius;
    }
    $dropdown-list-item-height: 45px;
    margin:0;
    border-radius: 0px;
    height: $dropdown-list-item-height;
    line-height: $dropdown-list-item-height;
    .list-item-icon-right.icon-angle-right {
        display: none;
        line-height: $dropdown-list-item-height;
    }
    .list-item-icon-left {
        font-size: 1.2em;
        line-height: $dropdown-list-item-height;
        
        // &:before { line-height: $dropdown-list-item-height; }
    }
    &:hover {
        box-shadow: none;
        background: #fbfbfb;
    }
}

.uk-dropdown > ul > .list-item.has-icon-left {
    padding-right: 20px;
    padding-left: 35px;
}
.uk-dropdown > ul > .list-item.has-icon-right {
    padding-left: 20px;
    padding-right: 35px;
}

.uk-dropdown > ul > .list-item.has-icon-right.has-icon-left {
    padding-right: 35px !important;
    padding-left: 35px !important;
}

.list-item.transparent {
    background: transparent;
    border-radius: 0;
    margin:0;
    border:0;
    padding-top:15px;
    padding-bottom:15px;
    // border-bottom:1px solid #ecebec;
    // border-top:1px solid #ecebec;
    &:hover {
        border-radius: 5px;
        box-shadow: 0;

    }
    // .list-item-icon-left,.list-item-icon-right {
    //     line-height: 65px;
    //     height: 65px;
    // }
}