#loader {
    display: none;
    background: $background-color;
    opacity:1;
    position: absolute;
    // line-height: 100vh;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    text-align: center;
    * { height:83.5vh;
    }
}