#message {
    background: $green;
    // text-align: center;
    padding: 20px;
    color:#fff;
    position: relative;
    width: 100%;

    // font-size: 12px;
    .message-text {
        display: inline-block;
        width: 95%;
    } 
    .icon {
        position: absolute;
        top:50%;
        right:20px;
        margin-top:-10px;
        display: inline-block;
        cursor:pointer;
    } 
}

#message.error {
    background: $red;
}


#message.success {
    background: $green !important;
}

// For dashboard messages e.g. no records found
.message-center {
    display: block;
    margin-top:10em;
    text-align:center;
    color:$text-color-light;
    a {
        color:darken($text-color-light,8%);
        &:hover {
            color:darken($text-color-light,15%);
        }
    }
}