$modal-height: 500px;
$modal-border-radius: $border-radius;
$modal-heading-height: 60px;
$modal-button-height: 60px;

.uk-modal {
  background:rgba(208, 208, 208, 0.92);
  background:rgba(237, 237, 237, 0.91);
  @include breakpoint('sm') {
    position: absolute;
  }
}
.uk-modal-dialog {
  border-radius: 5px;
  padding: 0px !important;
  overflow: hidden;
  height:$modal-height;
  box-shadow: $box-shadow;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  @include breakpoint('sm') {
      margin-top:60px !important; // Add space for close icon
      // margin-bottom: 80px; // Add margin below for scrolling
      //   // height:100%;// Added 12/23/16 for better mobile compatibility
      //   // height: 85vh;
      //   height: auto;// Added 12/23/16 for better mobile compatibility
      //   margin-top: 60px !important;
      //   position: initial;
      //   left: 0px;
      //   width: 100%;
      //   right: 0;
      //   bottom: 0;
      //   top: 50px;


margin-bottom: 25px;
    height: auto;
    margin-top: 60px !important;
    // position: fixed;
    left: 0px;
    width: 100%;
    right: 0;
    bottom: 0;
    top: 0px;

  }
}

@include breakpoint('sm') {
  body.modal-open {
      // block scroll for mobile;
      // causes underlying page to jump to top;
      // prevents scrolling on all screens
      overflow: hidden !important;
      position: fixed;
  }
}

#modal_iframe {
  height: 100%;
  @include breakpoint(sm) {
    overflow-y: scroll;
    height: 90vh;
    -webkit-overflow-scrolling:touch;
  }
  width: 100%;
  background: $background-color;
  border-radius:$modal-border-radius;
}

.uk-modal-close {
  .icon-x {
    font-size: 25px;
    color: rgba(128, 128, 128, 0.54);
    right: 20px;
    position: absolute;
    top: 20px;
  }
}

.modal {
    vertical-align: middle;
    display: table-cell;
    margin:auto;
    // padding:0 15px;
    padding:0 5px;
    padding-top: $modal-heading-height + 20px;
    padding-bottom: $modal-button-height + 20px;
    width: 100vw;
    position: relative;
    max-width: 100vw !important;
    // -webkit-overflow-scrolling: touch;
    @include breakpoint(sm) {
      // display: inline-block;
      // width:100%;
      // -webkit-transform: translate3d(0,0,0);
    }
    .modal-heading {
        height: $modal-heading-height;
        line-height: $modal-heading-height;
        z-index: 2;
        font-size: 20px;
        position: fixed;
        border-radius: 0px;
        width: 100%;
        margin:0;
        padding:0px 15px;
        left:0; right:0; top: 0;
        background: #fff;
        text-align: left;
        box-shadow: $box-shadow;
        @include truncate_text();
        .icon {
          float: right;
          height: $modal-heading-height;
          line-height: $modal-heading-height;
        }
    }
    .modal-button {
        z-index: 2;
        // text-transform: uppercase;
        // border-top:$border !important;
        box-shadow: $box-shadow;
        margin:0px;
        position: fixed;
        border-radius: 0px;
        text-align: center;
        width: 100%;
        border:0;
        border-top:1px solid #f5f5f5;
        height: $modal-button-height;
        // line-height: $modal-button-height;
        left:0; right:0; bottom: 0;
        background: #fff;
        &:hover {
            @include shadow();
        }
    }
}

