.pagination {
    list-style: none;
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0px;
    li {
        list-style-type: none;
        display: inline;
        opacity:0.5;
        @include transition();
        &:hover {
            opacity:1;
        }
    }
    .pagination-previous,.pagination-next {
        font-size: 0.8em;
        opacity:0.9;
    }
    .pagination-number {
        a {
            border-radius: 100px;
            background: #fff;
            height: 25px;
            line-height: 23px;
            min-width: 25px;
            font-size: 10px;
            display: inline-block;
            text-align: center;
            border: 1px solid #f0f0f0;
            cursor: pointer;
            color: #aaacad;
        }
    }

    .active {
        opacity:1;
    }
}
