#searchbar {
  position: relative;
  height: 40px;
      margin-left: 15px;
      @include breakpoint(sm){
        margin-left: 0;
      }

  .form-item {
    padding:0;
    height: 40px;
    // margin-left:10px;
    input {      
      height: 40px !important;
      // line-height: 40px;
      // background: #fbfbfb;
    background: hsla(0,0%,97%,1);
    border: 0;
      padding: 0px 0px 0px 35px;
    }
    // .searchbar-input {
    // }
    .icon {
      color:#6b6b6b;
      height: 40px;
      opacity:.5;
      line-height: 40px;      
    }
    @include breakpoint('sm') {
      // input inside mobile search at top
      input {      
        background: #fff;
        display: block;
        border-radius: 0px;
        height: 50px !important;
        line-height: 50px;
        padding-right:60px;
      }
      .icon {
        line-height: 50px;
      }
    }
    // border:0px solid #f6f6f6;
    // margin-left:15px;
    // height: 40px;
    // width: 100%;
    // position: absolute;
    // left:0px;
    // top:0px;
    // right:0px;
    // z-index:1;
    // border-radius: 3px;
    // padding-left:35px;
    // background: #f7f7f7;
    // @include breakpoint('sm') {
    //   top: 0px;
    //   left: 0px;
    //   margin: 0px;
    //   width: 100%;
    //   padding: 25px;
    //   padding-left: 38px;
    //   padding-right: 40px;
    //   background: #fefefe;
    //   border-radius:0px;
    //   &:focus {
    //     background: #fff;
    //   }
    // }
    // &:focus {
    //   @include shadow();
    //   border-color:#fbfbfb;
    // }
  }
  // .searchbar-icon {
  //   position: absolute;
  //   z-index:2;
  //   font-size: 1.3em;
  //   color: #96989a;
  //   left: 10px;
  //   top: 15px;
  //   @include breakpoint('sm') {
  //     left:14px;
  //     top:89px;
  //   }
  // }
  .searchbar-close {
    transition: all .2s;
    display: none;
    @include breakpoint('sm') {
      display: block;
    }

    position: absolute;
    color: #d8d8d8;
    cursor: pointer;
    right: 9px;
    top: 14px;
    font-size: 1.5em;
    z-index: 100;  
    // position: absolute;
    // color: #d8d8d8;
    // cursor: pointer;
    // right: 5px;
    // top: 14px;
    // font-size: 2em;
    // z-index: 100;
    &:hover {
      color:lighten($text-color,10%);
    }
  }
}

.searchbar-results {
  display: none;
  // margin-top:-10px;
  border-radius: 5px;
  overflow: hidden;
  overflow: scroll;
  max-height: 85vh;
  background: rgba(255,255,255,0.95);
  border-bottom:1px solid #f7f7f8;
  @include breakpoint('sm') {
    margin-top: 10px;
  }
  &:last-of-type {
    border:0;
  }
  box-shadow: $box-shadow;
  .uk-scrollable-text {
    height: auto;
    max-height: 165px;
  }
  .list-item {
    background: transparent;
    margin:0;
    border-radius: 0;
    border:0;
    &:hover {
      background: #fbfbfb;
      box-shadow: none;
      transform: scale(1);
    }
  }
}