section.background-white {
    &:after {
        background: none;
    }
}
section {
    position: relative;
    display: table;
    padding:1.5em 20px;
    text-align: center;
    min-height: 50vh;
    width: 100%;
    // background-image:url('http://glamorouslymommy.com/wp-content/uploads/2013/05/small-background.jpg');
    // @include gradient($purple,$blue);
    // background-size:cover;
    background-position:center;
    &:after {
        content:'';
        background: rgba(0, 0, 0, 0.05);
        position: absolute;
        top:0;bottom:0;left:0;right:0;
        z-index: -1;
    }
    .section-content {
        display: table-cell;
        vertical-align: middle;
        color:inherit;
        p,a,h1,h2,h3,h4  {
            color:inherit;
        }
        .section-heading {
            font-size: 2.5em;
            color:inherit;
        }
        .section-subheading {
            color:inherit;
            font-size: 1.8em;
            margin-bottom: 20px;
            display: block;
        }
    }
    @include breakpoint('sm') {
        min-height: 100vh;
    }
}