.vertical-tabs {
}

.tab.selected {
    background: rgba(255, 255, 255, 0.06);
    border-left: 3px solid #3A7B9E;
}

.tab {
    cursor: pointer;
    transition: all .3s;
    width: 100%;
    border-radius: 0;
    border:0;
    background: none;
    margin:0;
    height:60px;
    padding-left:63px;
    text-align: left;
    letter-spacing: 1;
    text-transform: uppercase;
    color:$grey !important;
    color: rgba(255, 255, 255, 0.36) !important;
    color: rgba(240, 240, 245, .44) !important;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    .tab-icon {
      top: 50%;
      margin-top: -17px;
      // margin-top: -30px; // Fix offset icon in tab
      position: absolute;
      left: 10px;
      bottom: 0px;
      line-height: 36px;
      font-size: 40px;
      height: 40px;
      width: 40px;
      border-radius: 100%;
      text-align: center;
    }
    .tab-text {
        line-height: 60px;
        height: 60px;
        // color:$grey;
        font-size: 1.2em;
        @include truncate_text();
        transition: all .2s;
        letter-spacing: 0.09em;
    }
    a {
        position: absolute;
        bottom: 0;
        right:0;
        left:0;
        top:0;
        width:100%;
        opacity:1;
        content:'';
    }
    &:hover {
      .tab-text{padding-left:5px;}
      background: rgba(255,255,255,.05);
    }
    .icon-draggable {
        position: absolute;
        right: 0;
        font-size: .8em;
        height: 100%;
        line-height: 60px;
        top: 0;
        bottom: 0;
        transition: all .2s;
        &:hover {
          color:#fff;
          cursor: move;
        }
    }
    // &:hover {
    //     .button-icon,
    //     .button-text {
    //         color:#fff;
    //     }
    //     background: rgba(255,255,255,0.1);
    //     border-color:transparent;
    //     box-shadow: none;
    //     padding-left:60px;
    // }
    .edit-icon {
      display: none;
      left: 5px;
      top: 0px;
      font-size: 10px;
      position: absolute;
      transition: all 0.2s;
      &:hover {
        color:#fff;
      }
    }
    &:hover {
      .edit-icon {
        display: block;
      }
    }

    .tab-editable {
      cursor:text;
      position: absolute;
      display: none;
      top:0;bottom:0;right:20px;left:0px;
    }
}

.horizontal-tabs {
  margin-bottom: 5px;
  @include breakpoint(sm) {
    overflow-x: scroll;
    white-space: nowrap;
  }
  .tab {
   text-transform: none;
    display: inline-block;
    padding: 0px 5px;
    text-align: left;
    // height: 28px;
    height: 26px;
    margin-bottom: 5px;
    margin-right: 10px;
    font-size: 1em;
    color: $text-color !important;
    width: auto;
  }
  .tab.selected {
    border-bottom:2px solid hsla(205,29%,47%,1);
    border-left:0px;
  }
  .icon {
    vertical-align: top;
  }
}


